.section-title {
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: auto;
    text-align: center;


}

@media screen and (max-width: 768px) {
    .section-title {
        margin: 0 auto 0;


    }
}


@media screen and (max-width: 700px) {
    .section-title {
        max-width: 400px;
        font-size: 40px;
        line-height: 44px;



    }
}


@media screen and (max-width: 650px) {
    .section-title {
        max-width: 288px;



    }
}