.places {
  max-width: 984px;
  width: calc(100vw - 296px);
  margin: 92px auto 92px;
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    width: calc(100vw - 96px);
    
  }
}


@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 90px;
    width: calc(100vw - 48px);
    row-gap: 72px;
  }
}



@media screen and (max-width: 700px) {
  .places {
    max-width: 320px;
    margin: 64px auto 66px;
    row-gap: 50px;
    width: 100vw;
  }
}
