.place__texts {
    grid-column: 2;
    grid-row: 3;
    margin: 48px 0 0 40px;
    width: 100%;
    

}   


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__texts {
        margin-left: 32px;
        
       
  
    }
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    .place__texts {
        margin: 48px 0 0;
       
    }
 
  }


@media screen and (min-width: 320px) and (max-width: 425px) {
    .place__texts {
        grid-column: 1;
        grid-row: 5;
        margin: 0;
        
       
  
    }
  }