.section-subtitle {
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto;
  text-align: center;



}


@media screen and (max-width: 768px) {
  .section-subtitle {
    margin: 32px auto 56px;

  }
}


@media screen and (max-width: 650px) {
  .section-subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;


  }
}