.lead {
  margin: 56px auto 0;
  color: #FFFFFF;
  max-width: 984px;
}



@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
    max-width: 928px;
  }
}


@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    max-width: 320px;
  }
}
