.footer__element-links {
   
    
}



@media screen and (min-width: 320px)  and (max-width: 425px) {
    .footer__element-links {
      display: flex;
      flex-direction: column;
      justify-self: space-between;
  
    }
  }




