.lead__image {
  height: 615px;
  background-image: url(../../../images/lead/lead-polka.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 64px 0 8px 0;
  object-fit: cover;
  grid-row: 3 / 4;
}


@media screen and (max-width: 1024px) {
  .lead__image {
    height: 580px;
    margin: 56px 0 8px 0;
  }
}


@media screen and (max-width: 768px) {
  .lead__image {
    height: 480px;
  }
}


@media screen and (max-width: 425px) {
  .lead__image {
    height: 200px;
    max-width: 768px;
    margin: 0 0 8px 0;
  }
}
