.intro {
  display: flex;
  margin: 92px auto 92px 148px;
  max-width: 690px;
  width: 100vw;
}


@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px auto 92px 48px;
  }
}


@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px auto 88px;
    width: calc(100vw - 48px);
  }
}


@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    width: calc(100vw - 32px);
    margin: 64px auto;
  }
}
