.cover__text {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}


@media screen and (max-width: 650px) {
  .cover__text {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
