.place {
   display: grid;
   grid-template-columns: repeat(auto-fit, auto);
   grid-template-rows: repeat(auto-fit, auto);
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-bottom: 80px;
   width: calc(100vw-296px);
   
  
   
   
  
   
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place {
         width: calc(100vw-96px);
}

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .place {
         width: calc(100vw-48px);
         
}



    .place:first-child {
        letter-spacing: 1px;
        
    
    
      }
      
   
  }

  


@media screen and (min-width: 320px) and (max-width: 425px) {
   .place {
       grid-column: 1;
       margin: 50px 0 0;

       
        
 
   }
   .place:first-child {
      margin-top: 0;

  }
 }