.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0 48px 24px;
  color: #FFFFFF;
  text-decoration: none;
  max-width: 1184px;
  height: 18px;
  display: flex;
  justify-content: space-between;



}


@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;


  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    line-height: 18px;
    padding: 0 24px 24px;

  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 24px 16px;
    flex-direction: column;
  



  }
}